In [2]:
import pandas as pd

In [3]:
import pymongo

In [4]:
client = pymongo.MongoClient("mongodb+srv://testMongo:harmoniPlay@harmoniplay.ke9cghw.mongodb.net/?retryWrites=true&w=majority&appName=HarmoniPlay")

In [5]:
db = client["test"]
tracks_collection = db["tracks"]
artists_collection = db["artists"]
genres_collection = db["genres"]

In [57]:
# Thực hiện join 3 bảng trong MongoDB để lấy thông tin cần thiết
pipeline = [
    {
        "$lookup": {
            "from": "artists",
            "localField": "artist",
            "foreignField": "_id",
            "as": "artists_info"
        }
    },
    {
        "$lookup": {
            "from": "genres",
            "localField": "genre",
            "foreignField": "_id",
            "as": "genres_info"
        }
    },
    {
        "$project": {
            "_id": 1,
            "title": 2,
            "artists": "$artists_info.name",
            "genres": "$genres_info.name"
        }
    }
]

In [58]:
# Thực hiện truy vấn để lấy dữ liệu sau khi join
cursor = tracks_collection.aggregate(pipeline)

# Chuyển dữ liệu thành DataFrame
df = pd.DataFrame(cursor)

In [60]:
df.head(5)

                        _id    title                   artists          genres
0  662f93c41a011700386a6844  Usseewa                     [Ado]         [J-Pop]
1  66334bdfeb3bae4ddcd41021      Odo       [Hoshimachi Suisei]         [J-Pop]
2  6634f067a5778f9d7906bc1a   Collab  [Ado, Hoshimachi Suisei]  [J-Pop, Anime]
3  66600b659121ed02aa56b3db     Idol                 [YOASOBI]  [J-Pop, Anime]

In [38]:
df.tail(5)

     title                   artists          genres
0  Usseewa                     [Ado]         [J-Pop]
1      Odo       [Hoshimachi Suisei]         [J-Pop]
2   Collab  [Ado, Hoshimachi Suisei]  [J-Pop, Anime]
3     Idol                 [YOASOBI]  [J-Pop, Anime]

In [39]:
df.shape

(4, 3)

In [40]:
df.isnull().sum()

title      0
artists    0
genres     0
dtype: int64

In [ ]:
df.head(10)

In [ ]:
df.shape

Text Cleaning/ Text Preprocessing

In [61]:
# Kết hợp thông tin thành một cột duy nhất
df['combined_info'] = df['title'] + ' ' + df['artists'].apply(', '.join) + ' ' + df['genres'].apply(', '.join)

In [62]:
df['combined_info'] = df['combined_info'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [63]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [12]:
df['combined_info'] = df['combined_info'].apply(lambda x: tokenization(x))

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['combined_info'])
similarity = cosine_similarity(matrix)

In [66]:
similarity[1]

array([0.12476274, 1.        , 0.49286315, 0.10093043])

In [80]:
df[df['title'] == 'Usseewa']

                        _id    title artists   genres      combined_info
0  662f93c41a011700386a6844  Usseewa   [Ado]  [J-Pop]  usseewa ado j-pop

In [46]:
df['title']

0    Usseewa
1        Odo
2     Collab
3       Idol
Name: title, dtype: object

In [73]:
def recommendation(song_df):
    idx = df[df['title'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    tracks = []
    for m_id in distances[1:21]:
        track_id = df.iloc[m_id[0]]._id
        track_title = df.iloc[m_id[0]].title
        tracks.append({"id": track_id, "title": track_title})
        
    return tracks

In [83]:
recommendation('Odo')

[{'id': ObjectId('6634f067a5778f9d7906bc1a'), 'title': 'Collab'},
 {'id': ObjectId('662f93c41a011700386a6844'), 'title': 'Usseewa'},
 {'id': ObjectId('66600b659121ed02aa56b3db'), 'title': 'Idol'}]

In [81]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

SyntaxError: invalid syntax (4260390989.py, line 1)